/* ======== COMPONENTES ======== */

.botao-modal {
    border: none;
    border-radius: 2em;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.5em;
    padding: 1vh;
    transition: background-color 0.1s, color 0.1s;
    width: 50%;
}

.campo-senha {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
}

.container-login {
    border-radius: 1em;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1.25fr;
    max-width: 75em;
    overflow: hidden;
}

.descricao {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0 0 40vh;
}

.erro-login {
    color: var(--erro);
    display: none;
    font-weight: 600;
    margin-top: 1vh;
    text-align: center;
}

.fechar-modal {
    align-items: center;
    background: transparent;
    border-radius: 1em;
    display: flex;
    justify-content: flex-end;
    padding: 0.75em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.fechar-modal:hover {
    background-color: var(--verde-escuro);
}

.form-modal {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    padding: 2.5em;
}

.header-2 {
    background-color: var(--verde-claro);
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.link-cadastro {
    color: var(--amarelo);
    font-weight: 600;
    text-decoration: underline;
}

.link-esqueci {
    font-weight: 600;
    margin-top: 1vh;
    text-decoration: none;
}

.link-esqueci:hover {
    color: var(--destaque);
    text-decoration: underline;
}

.login {
    background-color: var(--verde);
    border: none;
    border-radius: 1em;
    color: var(--branco);
    font-weight: 600;
    height: 2em;
    padding: 0.25em 1em;
}

.login-titulo {
    align-self: center;
}

.logo-modal {
    max-width: 12.5vw;
    min-width: 5vw;
}

.menu {
    font-weight: 600;
}

.p2 {
    margin-top: -0.5em;
}

.painel-direito {
    align-items: center;
    background-color: var(--verde);
    background-image: linear-gradient(to bottom, var(--verde), var(--verde-escuro));
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 75vh;
    justify-content: center;
    padding: 3em;
}

.painel-esquerdo {
    align-items: center;
    background-image: var(--imagem-fundo);
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
}

.subtitulo-modal {
    font-size: 1rem;
    text-align: center;
}

.texto-modal {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
}

.titulo-modal {
    font-size: 2rem;
    text-align: center;
}

.trocar-modal {
    color: var(--destaque);
    text-decoration: underline;
}

/* ======== RESPONSIVO ======== */
@media (max-width: 960px) {
    .container-login {
        box-sizing: border-box;
        grid-template-columns: 1fr;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
        padding: 1rem;
        width: 100%;
    }

    dialog {
        max-width: 35em;
    }

    .fechar-modal {
        right: 2em;
        top: 2em;
    }

    .logo-cadastro {
        max-width: 20vw;
    }

    .logo-modal {
        max-width: 30vw;
    }

    .painel-direito {
        background-image: linear-gradient(to bottom, var(--destaqueOpacity1), var(--destaqueOpacity2)),
                          var(--imagem-fundo);
    }

    .painel-esquerdo {
        display: none;
    }

    .subtitulo-modal {
        font-size: 1.1em;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    }
    
    .texto-modal {
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    }

    .titulo-modal {
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    }
}