@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
  
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

:root {
  --verde: #0F6D59;
  --verde-claro: #C8E3DD;
  --branco: #fff;
  --texto: #1E1E1E;
  --rosa: #FF7A7A;
  --destaque: #FFCA28;
  --verm: red;
  --verde-escuro: #085e50;
}


body {
  background: var(--verde-claro);
  margin: 0;
}

.topo {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-voltar {
  background: var(--verde);
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 25px;
  color: var(--branco);
  cursor: pointer;
}


main{
  display: flex;
  gap: 10%; 
  flex-direction: column;
  margin: 150px 60px;
  height: 92vh;
  width: 100vw;
}

.card {
  display: block;
  width: 50%;
  height: 100%;
  background: var(--branco);
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
  gap: 50px;
}

.Card-Completo {
  display: flex;
  align-self: center;
  height: 70%;
  width: 70%;
}


.imagem-container {
  position: relative;
}

.imagem-local {
  width: 100%;
  height: 40%;
}

.overlay-info {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfil-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid var(--verde);
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}

.acao {
    display: flex;
    gap: 10px; 
}


.titulo-local {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin: 0;
  flex-shrink: 1; 
  min-width: 0; 
}

.endereco {
  padding: 15px;
  background: #ffffff;
  font-size: 1.4rem;
  
}

.descricao {
  width: 25%;
  background: var(--verde);
  color: white;
  padding: 30px;
  border-radius: 0 20px 20px 0;
  font-size: 18px;
}

.titulo-area {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}


.acoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 5px;
}

.icone-de-estado {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icone-post {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.icone-post:hover {
    transform: scale(1.2);
}

.icone-favorito {
    padding: 0;
    display: flex;
    color: white;
    font-size: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: color 0.25s, transform 0.12s;
}

.icone-favorito:hover {
    background-color: transparent;
    transform: scale(1.25);
    border: none;
    color:  #e0f6f1;
}

.icone-favorito svg {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.icone-favorito.selected {
    color: var(--verm);
    transform: scale(1.12);
}

.icone-destino {
    padding: 0;
    display: flex;
    color: white;
    font-size: 50px;
    cursor: pointer;
    border: none;
    transition: color 0.25s, transform 0.12s;
    background-color: transparent;
}

.icone-destino:hover {
    background-color: transparent;
    transform: scale(1.25);
    border: none;
    color: #e0f6f1;
}

.icone-destino svg {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.icone-destino.selected {
    color: var(--verde-escuro);
    transform: scale(1.12);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}


h2{
  color: white;
  margin: 0;
  font-size: 1.4rem;
}

@media(max-width: 1200px){
  .conteudo{
  padding-top: 40vh;
  padding-bottom: 20vh;
  }
}

@media (max-width: 900px) {

  .conteudo{
    padding-top: 100vh;
    padding-bottom: 20vh;
    flex-direction: column;
    padding: 10px 35px;
    }

  .Card-Completo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    width: 90%;
  }

  .imagem-local{
    object-fit: cover;
    height: 35%;
  }

  .endereco{
    font-size: 1.4rem;
    padding: 10px;
    height: 50px;
  }


  .card {
    margin-bottom: 15px; 
    border-radius: 20px 20px 0 0;
  }

  .descricao {
    border-radius: 0 0 20px 20px;
    padding: 20px;
  
  }

  .topo {
    padding: 15px 10px;
  }
  
  .btn-voltar {
    padding: 10px 15px;
    font-size: 16px;
  }

  .titulo-local {
    font-size: 1.5rem;
  }

  .icone-destino{
    font-size: 40px;
  }

  .icone-favorito{
    font-size: 40px;
  }
}
