@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* ===== VARIAVEIS ===== */
:root {
    --branco: #ffffff;
    --bg: #e6f3f1;
    --texto: #0f172a;
    --verde-escuro: #085e50;
    --verde-claro: #0da58c;
    --azul: #00bfbf;
    --fundo: #c8e3dd;
    --verm: #e11d48;
    --sombra-sm: 0 4px 14px rgba(15, 23, 42, 0.08);
    --sombra-md: 0 10px 24px rgba(2, 6, 23, 0.08);
}

/* ===== GLOBAIS ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito";
}

body {
    background-color: var(--fundo) !important;
}

html {
    scrollbar-color: var(--branco) var(--fundo);
}

button {
    background: none;
    transition: none;
    padding: 0;
}

button:hover {
    background-color: transparent;
}

::-webkit-scrollbar body {
    background-color: var(--fundo);
    margin: 0;
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Nunito";
}

.cabecalho {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: var(--branco);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-colorido {
    height: 12vh;
}

.pesquisar-locais {
    display: flex;
    align-items: center;
    width: 32%;
    border: 2px solid var(--verde-escuro);
    border-radius: 15px;
    overflow: hidden;
}

.icone-container {
    background-color: var(--verde-escuro);
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid var(--verde-escuro);
}

.icone-pesquisar {
    width: 20px;
    height: 25px;
}

.pesquisar-locais input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 15px 0 0 15px;
}

.botao-galeria {
    align-items: center;
    background-color: var(--verde-escuro);
    border-radius: 20px;
    color: var(--branco);
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 8px;
    justify-content: center;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 15vw;
}

.botao-galeria:hover {
    background-color: #25675e;
    transform: scale(1.05);
}

.icone-galeria {
    width: 20px;
    height: 20px;
}

.conteudo {
    display: flex;
    padding-top: 15vh;
    height: 85vh;
}

.parte-lateral {
    background-color: var(--fundo);
    margin: 20px 40px 0;
    display: flex;
    flex-direction: column;
    gap: 5%;

    /* position: fixed;
    top: 100px;
    left: 0px;
    width: 400px;
    height: calc(100vh - 100px);
    background-color: var(--fundo);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; */
}

.filtros-estabelecimentos {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    border-radius: 15px;
    justify-content: center;
    height: 110%;
}

.navegação {
    list-style: none;
    padding: 10% 20%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.lista-navegacao {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--texto);
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.lista-navegacao:hover {
    transform: scale(1.05);
}

.icone-menu {
    width: 10%;
    height: 10%;
    margin-right: 30px;
    display: inline-block;
}

.sair {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: "foto nome sair";
    padding: 10% 14%;
    gap: 10px;
    align-items: center;
    background-color: var(--branco);
    border-radius: 15px;
    justify-content: center;
    height: 60%;
}

.foto-usuario {
    grid-area: foto;
    width: 5vw;
    height: 12vh;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: var(--sombra-md);
}

.bloco-nome {
    grid-area: nome;
    width: 145px;
}

.nome-usuario {
    color: #666;
    font-size: 1em;
    font-weight: bolder;
    font-style: italic;
}

.usuario {
    font-size: 20px;
    font-weight: 500;
    font-weight: bolder;
    color: var(--texto);
}

.icone-sair-verde {
    grid-area: sair;
    width: 35px;
    height: 35px;
    cursor: pointer;
    flex-shrink: 0;
    transition: filter 0.2s ease;
}

.icone-sair-verde:hover {
    transform: scale(1.05);
}

main {
    width: 75vw;
    height: 85vh;
    overflow-y: scroll;
    padding: 15px 40px;
}

.titulo-recomendacao {
    color: var(--preto);
    font-size: 1.8rem;
    text-shadow: none;
}

.recomendacao {
    padding-top: 15px;
}

.card-recomendacao {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    background-color: var(--branco);
    border-radius: 15px;
    width: 100%;
    height: 20%;
    gap: 10px;
    padding: 2% 3%;
}

.foto {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    transition: filter 0.2s ease;
}

.foto:hover {
    transform: scale(1.05);
}

.feed {
    height: 122%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding-top: 4vh;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.post {
    position: relative;
    width: 48%;
    height: 50%;
    background-color: var(--branco);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.post:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.foto-feed {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 85%;
}

.foto-post {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    object-fit: cover;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.legenda-foto {
    position: absolute;
    width: 100%;
    height: 14%;
    bottom: 0;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 7px;
}

.acoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px 5px;
}

.icone-de-estado {
    padding: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: none;
}

.icone-post {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
}

.icone-post:hover {
    transform: scale(1.2);
}

.icone-favorito {
    padding: 0;
    display: flex;
    color: black;
    font-size: 50px;
    cursor: pointer;
    transition: color 0.25s, transform 0.12s;
    border: none;
    background-color: transparent;
}

.icone-favorito:hover {
    background-color: transparent;
    transform: scale(1.25);
    border: none;
    color: var(--preto);
}

.icone-favorito svg {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.icone-favorito.selected {
    color: #e11d48;
    transform: scale(1.12);
}

.icone-destino {
    padding: 0;
    display: flex;
    color: black;
    font-size: 50px;
    cursor: pointer;
    transition: color 0.25s, transform 0.12s;
    background-color: transparent;
    border: none;
}

.icone-destino:hover {
    background-color: transparent;
    transform: scale(1.25);
    border: none;
    color: var(--preto);
}

.icone-destino svg {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.icone-destino.selected {
    color: var(--verde-escuro);
    transform: scale(1.12);
}

.icone-informacao {
    width: 40px;
    border: none;
    padding: 0;
    display: flex;
    color: black;
    cursor: pointer;
    transition: color 0.25s, transform 0.12s;
    background-color: transparent;
}

.icone-informacao:hover {
    background-color: transparent;
    transform: scale(1.1);
    border: none;
    color: var(--preto);
}

@media (max-width: 1200px) {
    .filtros-estabelecimentos {
        height: 120%;
    }

    .sair {
        height: 30%;
    }

    .feed {
        height: 110%;
        width: 100%;
    }
}

@media (max-width: 1080px) {
  .cabecalho {
    height: 10vh;
    padding: 5px 15px;
  }

  .logo-colorido {
    height: 8vh;
  }

  .conteudo {
    height: 100vh;
    padding-top: 10vh;
  }
.botao-galeria {
    font-size: 0.95rem;
    width: 35vw;
  }

   main {
    overflow-x: hidden !important;
    overflow-y: unset !important;
  }

   .feed {
    padding: 10px;
    gap: 50px;
  }

  .feed,
  .post {
    overflow: visible !important;
    justify-content: center;
  }

  .post {
    height: 75%;
    width: 75%;
    max-width: 500px;
  }

  .titulo-postagens {
    text-align: center;
  }
}

@media (max-width: 800px) {
 .conteudo{
    height: 100vh;
    padding-top: 0;
 }

  .cabecalho {
    height: 10vh;
  }

  .logo-colorido {
    height: 8vh;
  }
  .botao-galeria{
     font-size: 0.95rem;
    padding: 6px 10px;
    width: auto;
  }

    .parte-lateral {
        width: 70px;
        min-width: 70px;
        background-color: var(--branco);
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* esconde todos os textos dos itens */
    .lista-navegacao span,
    .lista-navegacao {
        font-size: 0;
    }

    /* deixa só os ícones */
    .icone-menu {
        width: 28px;
        height: 28px;
        margin: 0;
    }

    .navegação {
        padding: 0;
        gap: 55px;
        align-items: center;
    }

    /* usuário compactado */
    .sair {
        grid-template-columns: 1fr;
        grid-template-areas:
            "foto"
            "sair";
        padding: 0;
        width: 100%;
        height: auto;
        gap: 10px;
        background: none;
        margin: 20px;
        display: flex;
      align-items: center;
      flex-direction: column;
    }

    .bloco-nome {
        display: none;
    }

    .foto-usuario {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        margin-bottom: 10px;
    }

    .icone-sair-verde {
        width: 28px;
        height: 28px;
    }

    /* desloca o main para não ficar por cima */
    main {
        width: calc(100vw - 70px);
        margin-left: 20px;
        padding-top: 15vh;
    }

    .feed{
    gap: 18px;
    padding-top: 2vh;

  }

  .post {
    width: 100%;
    height: 60%;
    padding: 10px;
    height: auto;
    margin-bottom: 12px;
  }
    .foto-post {
    position: relative;
    height: 220px;
    width: 100%;
    object-fit: cover;
  }

  .legenda-foto {
    height: auto;
    padding: 8px;
    font-size: 0.95rem;
  }

  .titulo-postagens {
    text-align: center;
    font-size: 1.5rem;
  }

  .nome-usuario {
    text-align: center;
  }

  .usuario {
    text-align: center;
  }
    }
