@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* ===== VARIAVEIS ===== */
:root {
    --branco: #ffffff;
    --bg: #E6F3F1;
    --texto: #0f172a;
    --verde-escuro: #085E50;
    --verde-claro: #0DA58C;
    --azul: #00BFBF;
    --fundo: #C8E3DD;
    --verm: #e11d48;
    --sombra-sm: 0 4px 14px rgba(15, 23, 42, .08);
    --sombra-md: 0 10px 24px rgba(2, 6, 23, .08);
}


/* ===== GLOBAIS ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

body {
    background-color: var(--fundo);
    margin: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Nunito';
}

.cabecalho {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: var(--branco);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-colorido {
    height: 12vh;
}

.pesquisar-locais {
    display: flex;
    align-items: center;
    width: 32%;
    border: 2px solid var(--verde-escuro);
    border-radius: 15px;
    overflow: hidden;
}


.icone-container {
    background-color: var(--verde-escuro);
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2.0px solid var(--verde-escuro);
}

.icone-pesquisar {
    width: 20px;
    height: 25px;
}

.pesquisar-locais input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 15px 0 0 15px;
}

.botao-galeria {
    background-color: var(--verde-escuro);
    color: var(--branco);
    text-decoration: none;
    width: 15vw;
    padding: 8px 12px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
}

.botao-galeria:hover {
    background-color: #25675e;
    transform: scale(1.05);
}

.icone-galeria {
    width: 20px;
    height: 20px;
}

.conteudo {
    display: flex;
    padding-top: 15vh;
    height: 85vh;
}

.parte-lateral {
    width: 25vw;
    background-color: var(--fundo);
    margin: 20px 40px 0;
    display: flex;
    flex-direction: column;
    gap: 5%;


    /* position: fixed;
    top: 100px;
    left: 0px;
    width: 400px;
    height: calc(100vh - 100px);
    background-color: var(--fundo);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; */
}

.filtros-estabelecimentos {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    border-radius: 15px;
    justify-content: center;
    height: 110%;
}

.navegação {
    list-style: none;
    padding: 10% 20%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}


.lista-navegacao {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--texto);
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.lista-navegacao:hover {
    transform: scale(1.05);
}

.icone-menu {
    width: 10%;
    height: 10%;
    margin-right: 30px;
    display: inline-block;
}

.sair {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:
        "foto nome sair";
    padding: 10% 14%;
    gap: 10px;
    align-items: center;
    background-color: var(--branco);
    border-radius: 15px;
    justify-content: center;
    height: 60%;
}

.foto-usuario {
    grid-area: foto;
    width: 5vw;
    height: 12vh;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: var(--sombra-md);
}

.bloco-nome {
    grid-area: nome;
    width: 145px;
}

.nome-usuario {
    color: #666;
    font-size: 1em;
    font-weight: bolder;
    font-style: italic;
}

.usuario {
    font-size: 20px;
    font-weight: 500;
    font-weight: bolder;
    color: var(--texto);
}

.icone-sair-verde {
    grid-area: sair;
    width: 35px;
    height: 35px;
    cursor: pointer;
    flex-shrink: 0;
    transition: filter 0.2s ease;
}

.icone-sair-verde:hover {
    transform: scale(1.05);
}


main{
    width: 75vw;
    height: 85vh;
    overflow-y: scroll;
    padding: 15px 40px;
}

.titulo-recomendacao {
    font-size: 1.8rem;
}

.recomendacao{
    padding-top: 15px;
}

.card-recomendacao {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-items: center;
    background-color: var(--branco);
    border-radius: 15px;
    width: 100%;
    height: 20%;
    gap: 40px;
    padding: 2% 3%;
}

.foto {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    transition: filter 0.2s ease;
}

.foto:hover {
    transform: scale(1.05);
}

.feed {
    height: 122%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding-top: 4vh;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
} 

.post {
    position: relative;
    width: 48%;
    height: 50%;
    background-color: var(--branco);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.post:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.50);
}

.foto-feed{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 85%;
}

.foto-post {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    object-fit: cover;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.legenda-foto {
    position: absolute;
    width: 100%;
    height: 14%;
    bottom: 0;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.80);
    box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 7px;

}

.acoes {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 15px;
    left: 20px;
}

.icone-post {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.icone-post:hover {
    transform: scale(1.2);
}

@media(max-width:1200px){
    .filtros-estabelecimentos{
        height: 120%;
    }

    .sair{
        height:10vh;
        
    }

    .feed{
        height: 110%;
        width: 100%;
    }
    .card-recomendacao{
        height: 80%;
        grid-template-columns: auto auto auto auto auto;
    }
}

@media(max-width:800px){
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.parte-lateral{
    display: contents;
}

}