@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  /* --- Cores --- */
  /* Principais */
  --verde-escuro: #085e50;
  --verde: #0da58c;
  --verde-claro: rgb(185, 225, 205);
  --aqua: #00bfbf;

  /* Detalhes */
  --branco: #ffffff;
  --preto: hsl(0, 0%, 15%);
  --amarelo: #f7c13c;
  --botao-hover: #042f28;
  --destaque: #0fffbf;
  --destaqueOpacity1: rgba(0, 128, 128, 0.9);
  --destaqueOpacity2: rgba(0, 64, 48, 0.4);

  /* Outros */
  --sombra: 0 5px 10px rgba(0, 0, 0, 0.5);
  --tipografia: "Nunito", sans-serif;
  --imagem-fundo: url("../assets/Img/backgrounds/saoPaulo.png");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--tipografia);
}

html {
  scrollbar-width: auto;
  scrollbar-color: var(--branco) var(--verde-escuro);
  scroll-behavior: smooth;
}

header {
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 20px;
}

button {
  background-color: var(--verde);
  color: var(--branco);
  transition: background-color 0.15s;
  border: none;
  max-width: 10em;
}

button:hover {
  background-color: var(--botao-hover);
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

a:hover,
a:focus {
  text-decoration: none;
}

li a {
  background-color: transparent;
  text-decoration: none;
  color: var(--branco);
}

input {
  padding: 1vh;
  border: none;
  border-bottom: 2px solid var(--preto);
  border-radius: 10px 10px 5px 5px;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  text-align: center;
}

input:focus {
  border-width: 2px;
  border-bottom-color: var(--destaque);
  outline: none;
}

input::placeholder {
  color: var(--preto);
  opacity: 0.6;
  text-align: center;
}

input::selection {
  background-color: transparent;
}