@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --azul: #00bfbf;
  --bg: #e6f3f1;
  --branco: #ffffff;
  --fundo: #c8e3dd;
  --preto: #000000;
  --sombra-md: 0 10px 24px rgba(2, 6, 23, 0.08);
  --sombra-sm: 0 4px 14px rgba(15, 23, 42, 0.08);
  --texto: #0f172a;
  --verm: #e11d48;
  --verde-claro: #0da58c;
  --verde-escuro: #085e50;
}

/* RESET & GLOBAL */
* {
  box-sizing: border-box;
  font-family: "Nunito";
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--fundo) !important;
}

button {
  background: none;
  padding: 0;
  transition: none;
}

button:hover {
  background-color: transparent;
}

html {
  scrollbar-color: var(--branco) var(--fundo);
}

/* CABEÇALHO */
.cabecalho {
  align-items: center;
  background-color: var(--branco);
  display: flex;
  height: 15vh;
  justify-content: space-between;
  padding: 2%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.logo {
  align-items: center;
  display: flex;
}

.logo-colorido {
  height: 12vh;
}

.titulo {
  color: var(--texto);
  font-size: 2.5rem;
}

.novo-post {
  background-color: var(--verde-escuro) !important;
  border-radius: 20px;
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 15vw;
}

.novo-post:hover {
  background-color: #25675e;
  transform: scale(1.05);
}

/* LAYOUT GERAL */
.conteudo {
  display: flex;
  height: 85vh;
  padding-top: 15vh;
}

main {
  height: 85vh;
  overflow-y: scroll;
  padding: 15px 40px;
  width: 75vw;
}

/* SIDEBAR / PERFIL */
.parte_lateral {
  background-color: var(--fundo);
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 20px 40px 0;
  width: 25vw;
}

.perfil {
  align-items: center;
  background-color: var(--branco);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 14% 6%;
  text-align: center;
}

.foto-usuario {
  border-radius: 40px;
  box-shadow: var(--sombra-md);
  height: 125px;
  object-fit: cover;
  width: 125px;
}

.nome-usuario {
  color: black;
  font-size: 1em;
  font-style: italic;
  font-weight: bolder;
  padding: 5% 0 0 0;
}

.usuario {
  color: #666;
  font-size: 1.1em;
  font-weight: bold;
}

.perfil-info {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 40px 10px 0;
}

.perfil-info li {
  border-right: 2px solid var(--texto);
  font-size: bold;
  padding: 0 20px;
  text-align: center;
}

.perfil-info li:last-child {
  border-right: none;
}

.numero {
  color: var(--texto);
  font-size: 1rem;
  font-weight: bold;
}

.legenda {
  font-size: 0.9rem;
  font-weight: bolder;
}

.lista-perfil {
  align-items: center;
  color: var(--texto);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.lista-perfil:hover {
  transform: scale(1.05);
}

/* NAVEGAÇÃO LATERAL */
.menu-navegação {
  background-color: var(--branco);
  border-radius: 15px;
  padding: 5% 5%;
}

.navegação {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 1%;
}

.lista-navegacao {
  align-items: center;
  color: var(--texto);
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.lista-navegacao:hover {
  transform: scale(1.05);
}

.icone-menu {
  display: inline-block;
  height: 30px;
  margin-right: 18px;
  width: 30px;
}

.icone-menu-sair {
  display: inline-block;
  height: 30px;
  margin-left: 6px;
  margin-right: 12px;
  width: 30px;
}

/* POSTS PRINCIPAIS */
.titulo-postagens {
  font-size: 1.8rem;
}

.postagens {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  height: 120%;
  justify-content: space-between;
  padding-top: 4vh;
  width: 100%;
}

.post {
  background-color: var(--branco);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 15px;
  position: relative;
  transition: all 0.3s ease;
  width: 48%;
}

.post:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.foto-postagens {
  height: 85%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.foto-post {
  align-items: end;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.legenda-foto {
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  bottom: 0;
  color: white;
  font-weight: bold;
  height: 14%;
  padding: 7px;
  position: absolute;
  width: 100%;
}

/* ÍCONES E AÇÕES */
.acoes {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px;
}

.configuracoes-post {
  display: inline-block;
  position: relative;
}

.botao-opcoes {
  cursor: pointer;
  height: 22px;
  width: 22px;
}

.menu-post {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  list-style: none;
  margin: 0;
  padding: 8px 0;
  position: absolute;
  right: 0;
  top: 28px;
  width: 120px;
  z-index: 1000;
}

.menu-post li {
  cursor: pointer;
  font-size: 14px;
  padding: 10px 15px;
}

.menu-post li a{
  color: #000000;
}

.menu-post li:hover {
  background: #f0f0f0;
}

.configuracoes-post:hover .menu-post {
  display: block;
}

.icone-de-estado {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icone-post {
  cursor: pointer;
  height: 30px;
  transition: transform 0.3s ease;
  width: 30px;
}

.icone-post:hover {
  transform: scale(1.2);
}

.icone-favorito,
.icone-destino {
  background-color: transparent;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 50px;
  padding: 0;
  transition: color 0.25s, transform 0.12s;
}

.icone-favorito:hover,
.icone-destino:hover {
  background-color: transparent;
  border: none;
  color: var(--preto);
  transform: scale(1.25);
}

.icone-favorito svg,
.icone-destino svg {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.icone-favorito.selected {
  color: var(--verm);
  transform: scale(1.12);
}

.icone-destino.selected {
  color: var(--verde-escuro);
  transform: scale(1.12);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .perfil {
    height: 110%;
    padding: 20% 6% 25%;
  }

  .foto-usuario {
    height: 115px;
    width: 115px;
  }

  * .nome-usuario {
    padding-top: 25px;
  }

  .numero {
    font-size: 1rem;
  }

  .legenda {
    font-size: 0.95rem;
  }

  .perfil-info {
    top: 10px;
  }

  .perfil-info li {
    padding: 0 8px;
  }

  .postagens {
    height: 105%;
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .cabecalho {
    height: 10vh;
    padding: 5px 15px;
  }

  .logo-colorido {
    height: 8vh;
  }

  .conteudo {
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 10vh;
  }

  .foto-usuario {
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
  }

  .icone-menu {
    height: 28px;
    margin: 0;
    width: 28px;
  }

  .icone-menu-sair {
    margin-right: 0;
  }

  main {
    overflow-x: hidden !important;
    overflow-y: unset !important;
  }

  .menu-navegação {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80%;
  }

  .navegação {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .lista-navegacao {
    align-items: center;
    display: flex;
    gap: 8px;
  }

  .lista-perfil {
    gap: 5px;
  }

  .novo-post {
    font-size: 0.95rem;
    width: 35vw;
  }

  .parte_lateral {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  .perfil {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 80%;
    gap: 20px;
    justify-content: center;
    padding: 25px;
  }

  .usuario {
    font-size: 1rem;
    text-align: left;
    margin-top: -5px;
  }

  .nome-usuario {
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
  }

  .perfil-info {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    width: 100%;
  }

  .perfil-info li {
    font-size: 1rem;
    justify-content: center;
    padding: 0 25px;
  }

  .numero {
    font-size: 0.9rem;
  }

  .legenda {
    font-size: 0.8rem;
    font-weight: bolder;
  }

  .postagens {
    padding: 10px;
    gap: 50px;
  }

  .postagens,
  .post {
    overflow: visible !important;
    justify-content: center;
  }

  .post {
    height: 75%;
    width: 75%;
    max-width: 500px;
  }

  .titulo-postagens {
    text-align: center;
  }
}

/* Ajustes adicionais para telefones pequenos */
@media (max-width: 720px) {
  .cabecalho {
    height: 10vh;
  }

  .logo-colorido {
    height: 8vh;
  }

  .novo-post {
    font-size: 0.95rem;
    padding: 6px 10px;
    width: auto;
  }

  .menu-navegação {
    padding: 20px;
    height: 100%;
  }

  .navegação {
    gap: 30px;
  }

  .conteudo {
    padding-top: 10vh;
  }

  main {
    width: 100%;
    padding: 10px 12px;
    height: auto;
    overflow: visible;
  }

  .parte_lateral {
    width: 95%;
    gap: 20px;
  }

  .perfil {
    height: auto;
    width: 60%;
    gap: 12px;
    flex-direction: column;
    align-items: center;
  }

  .nome-usuario {
    display: block;
    font-size: 1rem;
  }

  .postagens {
    gap: 18px;
    padding-top: 2vh;
  }

  .post {
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 12px;
  }

  .foto-post {
    position: relative;
    height: 220px;
    width: 100%;
    object-fit: cover;
  }

  .legenda-foto {
    height: auto;
    padding: 8px;
    font-size: 0.95rem;
  }

  .titulo-postagens {
    text-align: center;
    font-size: 1.5rem;
  }

  .nome-usuario {
    text-align: center;
  }

  .usuario {
    text-align: center;
  }
}