/*dialog#TelaPublicacao {
  animation: popupShow 0.25s ease-out;
  background: var(--fundo);
  border: none;
  border-radius: 35px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  padding: 20px 40px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 50em;
  padding: 2% 3%;
}

dialog#TelaPublicacao::backdrop {
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.55);
}


/* Container do popup (centraliza na tela) */
/* #TelaPublicacao .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  z-index: 9999;
}

/* Conteúdo principal */
/* #TelaPublicacao .popup-content {
  position: relative;
  width: 80%;
  max-width: 900px;
  height: auto;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  background: var(--fundo);
  border-radius: 1em;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: all 0.3s ease;
} * */

/* Layout interno 
#TelaPublicacao .mainPopup {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 5%;
  height: 100%;
}

/* Área da imagem 
#TelaPublicacao .imgLabel {
  align-items: center;
  aspect-ratio: 4/5;
  background-color: var(--branco);
  border: 3px dashed var(--verde-escuro);
  border-radius: 1em;
  color: gray;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: 0.3s;
  width: 50%;
  align-self: center;
}

#TelaPublicacao .imgLabel:hover {
  background-color: #bbb;
  color: #777;
}

#TelaPublicacao .iconUpload {
  width: 50%;
  height: auto;
}

#imgInput {
  display: none;
}

/* Inputs 
#TelaPublicacao .inputs {
  width: 100%;
  padding: 10px 5px;
  background-color: var(--branco);
  border: none;
  border-radius: 10px;
  color: var(--cinza-claro);
  font-size: 1rem;
  font-weight: 600;
}

/* Labels 
#TelaPublicacao .title {
  color: var(--cinza-escuro);
  font-size: 1.2rem;
  font-weight: 700;
}

#TelaPublicacao .sectioInputs {
  padding: 3%;
}

#TelaPublicacao .novo-post-form {
  gap: 20px;
}

/* Botão fechar 
#TelaPublicacao .fechar-modal {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 50px;
  padding: 0.75em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  border-radius: 1em;
}

#TelaPublicacao .fechar-modal:hover {
  background-color: transparent;
  cursor: pointer;
}

/* Botão salvar 
#BotaoPost {
  background-color: var(--verde-escuro);
  border: none;
  border-radius: 30px;
  color: var(--branco);
  font-size: 1.2rem;
  margin-top: 1.1em;
  padding: 3% 10%;
  transition: 0.2s;
  width: 250px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

#BotaoPost:hover {
  background-color: var(--botao-hover);
}

/* Responsivo 
@media (max-width: 768px) {
  #TelaPublicacao .mainPopup {
      align-items: center;
    flex-direction: column;
    gap: 4px;
  }

  #TelaPublicacao .imgLabel {
      aspect-ratio: unset;
    height: 30%;
    max-width: 40%;
    margin: 8px;
  }

  #TelaPublicacao .inputs {
   font-size: 1.5rem;
    padding: 4px;
  }

  #BotaoPost {
    font-size: 1rem;
    padding: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}*/

#BotaoPublicar {
  padding: 0.75em 1.5em;
  font-size: 1em;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  padding: 2% 3%;
  display: flex;
  width: 80%;
  height: 80vh;
  background: var(--verde-claro);
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;

  position: relative;
}

/* Conteudo do POPUP */
.mainPopup {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 100%;
  gap: 5%;
}

/* input da IMG */
.left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.imgLabel {
  width: 50%;
  height: 100%;
  aspect-ratio: 4/5;
  background-color: var(--branco);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed var(--verde-escuro);
  cursor: pointer;
  color: gray;
  transition: color 0.3s, background-color 0.3s;
}

.imgLabel:hover {
  background-color: #bbb;
  color: #777;
}

.iconUpload {
  width: 50%;
  height: auto;
}

#imgInput {
  display: none;
}


/* INPUTS */
.sairImg {
  width: 60%;
  height: auto;
}

.fechar-modal {
  width: 6%;
  align-items: center;
  background: transparent;
  border-radius: 1em;
  display: flex;
  justify-content: flex-end;
  padding: 0.75em;
  position: absolute;
  right: .5%;
  top: .5%;
}

.fechar-modal:hover {
  background-color: transparent !important;
  cursor: pointer;
}

.sectioInputs {
  gap: 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  width: 100%;
}

.inputs,
.inputs::placeholder {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 5px;
  background-color: var(--branco);
  color: var(--cinza-claro);

}

#groupInput {
  width: 100%;
  display: flex;
  gap: 1%;
}

#groupCep {
  width: 50%;
}

#groupBairro {
  width: 100%;
}

#groupCidade {
  width: 50%;
}

#groupEstado {
  width: 100%;
}

.botao-publicar{
  margin-top: 20px;
}

button {
  max-width: 40%;
  border-radius: 30px;
  color: var(--branco);
  font-size: 1.2rem;
  padding: 1% 8%;
  text-decoration: none;
}

@media (max-width: 768px) {
  .mainPopup {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  .fechar-modal{
    width: 15%;
  }

  .left {
    width: 80%;
  }

  .imgLabel {
    margin-top: 2em;
    max-width: 50%;
    height: 50%;
    align-self: center;
    aspect-ratio: unset;
  }

  .sectioInputs {
    width: 100%;
  }

  .forms{
    width: 100%;
  }

  .sairImg {
    width: 40%;
  }

  .inputs{
    font-size: 0.75rem;
    padding: 5px;
  }

  .iconUpload {
    height: 40%;
  }

  .select {
    margin-top: -10px;
  }

  .botao-publicar{
    margin-top: 3%;
  }

  button {
    max-width: 100%;
    font-size: 1rem;
    padding: 1% 4%;
  }
}