#BotaoPublicar {
  cursor: pointer;
  font-size: 1em;
  padding: 0.75em 1.5em;
}

.avaliacao-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 0.5em;
}

.estrela {
  background: none;
  border: none;
  color: var(--branco);
  cursor: pointer;
  font-size: 20px;
  padding: 0.125em;
  transition: color 0.25s, transform 0.12s;
}

.estrela:hover {
  background-color: transparent;
  color: var(--amarelo);
}

.estrela:active {
  transform: scale(1.25);
}

.estrela.hover {
  color: var(--amarelo);
}

.estrela.selected {
  color: var(--amarelo);
}

.estrela svg {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

.botao-publicar {
  background-color: var(--verde);
  border: none;
  border-radius: 10px;
  color: var(--branco);
  display: block;
  font-size: 16px;
  height: 35px;
  margin: 20px auto;
  width: 240px;
}

.campo {
  color: var(--verde-escuro);
  font-weight: bold;
  position: relative;
  transition: all 0.15s ease;
}

.campo.focused {
  color: var(--destaque);
  font-size: 0.9rem;
  top: -15px;
}

.conteudo-publicacao {
  display: flex;
  gap: 2em;
}

.favorito {
  display: flex;
  background: none;
  border: none;
  color: var(--branco);
  cursor: pointer;
  font-size: 28px;
  transition: color 0.25s, transform 0.12s;
}

.favorito:hover {
  background-color: transparent;
  color: var(--destaque);
}

.favorito:active {
  color: var(--verde);
  transform: scale(1.25);
}

.favorito svg {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

.foto-perfil {
  border-radius: 50%;
  height: 4em;
  margin: 1em 0;
  object-fit: cover;
  width: 4em;
}

.form-publicacao {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.imagem-local {
  border: solid 0.25em var(--destaque);
  border-radius: 1em;
  height: 15em;
  object-fit: cover;
  width: 20em;
}

.imagem-local-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 0.75em;
  resize: none;
  width: 100%;
}

textarea.input {
  height: 80px;
}

.info-perfil {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.nome {
  color: var(--cinza-escuro);
  font-weight: bold;
}

.perfil {
  align-items: center;
  display: flex;
  margin-left: 0.5em;
}

.popup {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.popup-content {
  background: var(--verde-claro);
  background-image: linear-gradient(var(--verde), var(--verde-escuro));
  border-radius: 1em;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 35em;
  overflow: hidden;
  padding: 1em 2em;
  transition: all 0.3s ease;
  width: 50em;
  max-width: 90%;
}

.usuario {
  color: var(--cinza-escuro);
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .conteudo-publicacao {
    align-items: center;
    flex-direction: column;
  }

  .form-publicacao {
    width: 90%;
    margin-top: -2vh;
  }

  .imagem-local {
    height: auto;
    max-height: 30vh;
    margin: 10px 0;
    width: 90%;
  }

  .popup-content {
    height: auto;
    padding: 20px;
    width: 90%;
    max-height: 90%;
  }

  .estrela svg {
    height: 1.5em;
    width: 1.5em;
  }

  .favorito svg {
    height: 1.5em;
    width: 1.5em;
  }
}
