dialog#TelaConfiguracao {
  animation: popupShow 0.25s ease-out;
  background: var(--fundo);
  border: none;
  border-radius: 35px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  padding: 20px 40px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 50em;
}

dialog#TelaConfiguracao::backdrop {
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.55);
}

#BotaoFecharConfiguracao {
  background-color: transparent;
  color: var(--verde-escuro);
  width: 25px;
}

#openExplorerLink {
  color: #064b40;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

#salvar-config {
  align-self: center;
  background-color: #064b40;
  border-radius: 25px;
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px 12px;
  width: 200px;
}

.Alterar-Dados {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.Imagem-Usuario {
  border-radius: 100%;
}

.Parte-Imagem {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.ParteInicial {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario {
  background-color: var(--branco);
  border: none;
  border-radius: 10px;
  color: var(--cinza-claro);
  font-size: 1rem;
  font-weight: 600;
  padding: 15px;
  width: 100%;
}

.userImg {
  background-color: #000;
  background-position: center;
  object-fit: cover;
  border-radius: 40px;
  height: 125px;
  width: 125px;
}



h2 {
  color: var(--verde-escuro);
  font-size: 1.5rem;
}

img {
  height: auto;
}

input::placeholder {
  align-self: center;
  font-size: 1.5rem;
  text-align: left;
}

p {
  color: #064b40;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  h2 {
    color: var(--verde-escuro);
    font-size: 1.2rem;
  }

  dialog#TelaConfiguracao {
    padding: 20px;
    width: 90%;
  }

  #salvar-config {
    width: 100%;
  }

  .Parte-Imagem {
    flex-direction: column;
    gap: 10px;
  }

  .config {
    font-size: 2em;
  }
}