dialog#popupExcluir {
    position: fixed;
    top: 50%;
    left: 50%;
    border: none;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  
  dialog#popupExcluir::backdrop{
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.55);
}

#popupExcluir .icone-excluir {
    width: 70px;
    height: 70px;
    padding: 10px;
}

#popupExcluir .excluir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


#popupExcluir .popup-excluir-content {
  background:#C8E3DD;
  color: #085E50;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 75%;
}

#popupExcluir .popup-excluir-content h2 {
  font-weight: 700;
  padding: 10px;
}

#popupExcluir .acoes-excluir {
 display: flex;
 justify-content: center;
 gap: 80px;
 padding: 10px;
}

#popupExcluir .btn-cancelar,
#popupExcluir .btn-confirmar {
  background-color:  #085E50;
  color: white;
  padding: 15px 35px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

#popupExcluir .btn-cancelar:hover,
#popupExcluir .btn-confirmar:hover {
  background-color: var(--botao-hover);
}


@media (max-width: 700px) {
  dialog#popupExcluir {
    box-shadow: none; /* remova */
}

  dialog#popupExcluir {
    padding: 20px;
    width: 90%;
  }

  #popupExcluir .acoes-excluir {
 gap: 50px;
}

}
