dialog#popupExcluir {
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  left: 50%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

dialog#popupExcluir::backdrop {
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.55);
}

#popupExcluir .icone-excluir {
  height: 70px;
  padding: 10px;
  width: 70px;
}

#popupExcluir .excluir {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

#popupExcluir .popup-excluir-content {
  background: #c8e3dd;
  border-radius: 15px;
  color: #085e50;
  height: 75%;
  justify-content: center;
  padding: 50px;
  text-align: center;
  width: 100%;
}

#popupExcluir .popup-excluir-content h2 {
  font-weight: 700;
  padding: 10px;
}

#popupExcluir .acoes-excluir {
  display: flex;
  gap: 80px;
  justify-content: center;
  padding: 10px;
}

#popupExcluir .btn-cancelar,
#popupExcluir .btn-confirmar {
  background-color: #085e50;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 15px 35px;
}

#popupExcluir .btn-cancelar:hover,
#popupExcluir .btn-confirmar:hover {
  background-color: var(--botao-hover);
}

@media (max-width: 700px) {
  dialog#popupExcluir {
    box-shadow: none;
    padding: 20px;
    width: 90%;
  }

  #popupExcluir .acoes-excluir {
    gap: 50px;
  }
}