@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* ===== VARIAVEIS ===== */
:root {
    --branco: #ffffff;
    --bg: #E6F3F1;
    --texto: #0f172a;
    --verde-escuro: #085E50;
    --verde-claro: #0DA58C;
    --azul: #00BFBF;
    --fundo: #C8E3DD;
    --verm: #e11d48;
    --sombra-sm: 0 4px 14px rgba(15, 23, 42, .08);
    --sombra-md: 0 10px 24px rgba(2, 6, 23, .08);
}


/* ===== GLOBAIS ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

body {
    background-color: var(--fundo) !important;
}

html {
    scrollbar-color: var(--branco) var(--fundo);
}

button {
    background: none;
    transition: none;
    padding: 0;
}

button:hover {
    background-color: transparent;
}



.cabecalho {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: var(--branco);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-colorido {
    height: 12vh;
}

.titulo {
    font-size: 2.5rem;
    color: var(--texto);

}

.novo-post {
    background-color: var(--verde-escuro) !important;
    color: var(--branco);
    text-decoration: none;
    width: 15vw;
    padding: 8px 12px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    font-weight: 600;
}

.novo-post:hover {
    background-color: #25675e;
    transform: scale(1.05);
}

.conteudo {
    height: 85vh;
    display: flex;
    padding-top: 15vh;
}

.parte_lateral {
    width: 25vw;
    background-color: var(--fundo);
    margin: 20px 40px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.perfil {
    height: 80%;
    background-color: var(--branco);
    border-radius: 15px;
    padding: 14% 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto-usuario {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: var(--sombra-md);

}

.nome-usuario {
    font-size: 1.0em;
    font-weight: bolder;
    color: black;
    padding: 5% 0 0 0;
    font-style: italic;
}

.usuario {
    font-size: 1.1em;
    font-weight: bold;
    color: #666;
}

.perfil-info {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 40px 10px 0;
}

.perfil-info li {
    text-align: center;
    padding: 0 20px;
    border-right: 2px solid var(--texto);
    font-size: bold;
}

.perfil-info li:last-child {
    border-right: none;

}

.numero {
    font-size: 1rem;
    font-weight: bold;
    color: var(--texto);
}

.legenda {
    font-size: 0.9rem;
    font-weight: bolder;
}

.lista-perfil {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    gap: 5px;
    color: var(--texto);
    cursor: pointer;
    transition: all 0.3s ease;
}

.lista-perfil:hover {
    transform: scale(1.05);
}

.menu-navegação {
    height: 50%;
    padding: 4% 10%;
    background-color: var(--branco);
    border-radius: 15px;
}

.navegação {
    list-style: none;
    padding: 1%;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista-navegacao {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--texto);
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.lista-navegacao:hover {
    transform: scale(1.05);
}

.icone-menu {
    width: 30px;
    height: 30px;
    margin-right: 18px;
    display: inline-block;
}

.icone-menu-sair {
    width: 30px;
    height: 30px;
    margin-left: 6px;
    margin-right: 12px;
    display: inline-block;
}

main {
    width: 75vw;
    height: 85vh;
    overflow-y: scroll;
    padding: 15px 40px;
}

.titulo-postagens {
    font-size: 1.8rem;
}

.postagens {
    height: 120%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding-top: 4vh;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.post {
    position: relative;
    width: 48%;
    height: 50%;
    background-color: var(--branco);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.post:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.50);
}

.foto-postagens {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 85%;
}

.foto-post {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.legenda-foto {
    position: absolute;
    width: 100%;
    height: 14%;
    bottom: 0;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.80);
    box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 7px;
}

.acoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 5px;
}

.configuracoes-post {
    position: relative;
    display: inline-block;
}

.botao-opcoes {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.menu-post {
    position: absolute;
    top: 28px;
    right: 0;
    background: #ffffff;
    border-radius: 6px;
    width: 120px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    /* escondido */
    z-index: 1000;
}

.menu-post li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

.menu-post li:hover {
    background: #f0f0f0;
}

.configuracoes-post:hover .menu-post {
    display: block;
}

.icone-de-estado {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icone-post {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.icone-post:hover {
    transform: scale(1.2);
}

.icone-favorito {
    padding: 0;
    display: flex;
    color: black;
    font-size: 50px;
    cursor: pointer;
    transition: color 0.25s, transform 0.12s;
}

.icone-favorito:hover {
    background-color: transparent;
    transform: scale(1.25);
    border: none;
    color: var(--preto);
}

.icone-favorito svg {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.icone-favorito.selected {
    color: var(--verm);
    transform: scale(1.12);
}

.icone-destino {
    padding: 0;
    display: flex;
    color: black;
    font-size: 50px;
    cursor: pointer;
    transition: color 0.25s, transform 0.12s;
    background-color: transparent;
}

.icone-destino:hover {
    background-color: transparent;
    transform: scale(1.25);
    border: none;
    color: var(--preto);
}

.icone-destino svg {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.icone-destino.selected {
    color: var(--verde-escuro);
    transform: scale(1.12);
}



@media (max-width: 1200px) {
    .perfil {
        height: 110%;
        padding: 20% 6% 25%;
    }

    .foto-usuario {
        width: 115px;
        height: 115px;
    }

    * .nome-usuario {
        padding-top: 25px;
    }

    .numero {
        font-size: 1rem;
    }

    .legenda {
        font-size: 0.95rem;
    }


    .perfil-info {
        top: 10px;
    }

    .perfil-info li {
        padding: 0 8px;

    }

    .postagens {
        height: 105%;
        width: 100%;
    }

}

@media (max-width: 800px) {

    .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .cabecalho {
        padding: 5px 15px;
        height: 15vh;
    }

    .logo-colorido {
        height: 10vh;
    }

    .novo-post {
        width: 25vw;
        width: 35vw;
        font-size: 0.95rem;
    }

    .parte_lateral {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .perfil {
        flex-direction: row;
        align-items: center;
        display: flex;
        width: 90%;
        gap: 20px;
        height: 60%;
        padding: 25px 50px;
        justify-content: center;
    }

    .foto-usuario {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 100px;
        border-radius: 40px;
    }

    .usuario {
        text-align: left;
        padding: 4px;
        font-size: 1.2rem;
    }

    .nome-usuario {
        display: none;
    }

    .perfil-info {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2px;
        width: 100%;
    }

    .perfil-info li {
        padding: 0 25px;
        font-size: 1rem;
        justify-content: center;
    }

    .numero {
        font-size: 0.9rem;

    }

    .legenda {
        font-size: 0.8rem;
        font-weight: bolder;
    }

    .lista-perfil {
        gap: 5px;
    }

    .menu-navegação {
        display: flex;
        justify-content: center;
        /* Centraliza o conteúdo */
        align-items: center;
        width: 90%;
        height: 20%;
    }

    .navegação {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }



    .lista-navegacao {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px;
    }

    .icone-menu {
        width: 28px;
        height: 28px;
        margin: 0;
    }

    .icone-menu-sair {
        margin-right: 0;

    }

    main {
    overflow-y: unset !important;
    overflow-x: hidden !important;


}
.postagens, .post {
    overflow: visible !important;
}


    .postagens {
        gap: 85px;
    }

    .post {
        width: 100%;
        height: 200%;
    }
}