@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --amarelo: #f7c13c;
  --aqua: #00bfbf;
  --botao-hover: #042f28;
  --branco: #ffffff;
  --cinza-claro: hsl(0, 0%, 40%);
  --cinza-escuro: hsl(0, 0%, 25%);
  --destaque: #0fffbf;
  --destaqueOpacity1: rgba(0, 128, 128, 0.9);
  --destaqueOpacity2: rgba(0, 64, 48, 0.4);
  --imagem-fundo: url("../assets/Img/backgrounds/São\ Paulo.png");
  --preto: hsl(0, 0%, 15%);
  --sombra: 0 5px 10px rgba(0, 0, 0, 0.5);
  --tipografia: "Nunito", sans-serif;
  --verde: #0da58c;
  --verde-claro: rgb(185, 225, 205);
  --verde-escuro: #085e50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--tipografia);
  margin: 0;
  padding: 0;
}

a {
  color: var(--branco);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--branco);
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  background-color: var(--verde);
  border: none;
  color: var(--branco);
  max-width: 10em;
  transition: background-color 0.15s;
}

button:hover {
  background-color: var(--botao-hover);
  cursor: pointer;
}

dialog {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-sizing: border-box;
  color: var(--branco);
  overflow: hidden;
  padding: 0;
  position: fixed;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  align-items: center;
  height: 15vh;
  justify-content: space-between;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--branco) var(--verde-escuro);
  scrollbar-width: auto;
}

img,
picture,
video,
canvas,
svg {
  background-position: center;
  background-size: cover;
  display: block;
  max-width: 100%;
  object-fit: contain;
}

input {
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 1vh;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

label {
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: -0.75em;
}

textarea {
  border: none;
}