/* Container do popup (centraliza na tela) */
#TelaPublicacao .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  z-index: 9999;
}

/* Conteúdo principal */
#TelaPublicacao .popup-content {
  position: relative;
  width: 80%;
  max-width: 900px;
  height: auto;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  background: var(--fundo);
  border-radius: 1em;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: all 0.3s ease;
}

/* Layout interno */
#TelaPublicacao .mainPopup {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 5%;
  height: 100%;
}

/* Área da imagem */
#TelaPublicacao .imgLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  aspect-ratio: 4 / 5;
  background-color: var(--branco);
  border: 3px dashed var(--verde-escuro);
  border-radius: 1em;
  color: gray;
  cursor: pointer;
  transition: 0.3s;
}

#TelaPublicacao .imgLabel:hover {
  background-color: #bbb;
  color: #777;
}

#TelaPublicacao .iconUpload {
  width: 50%;
  height: auto;
}

#imgInput {
  display: none;
}

/* Inputs */
#TelaPublicacao .inputs {
  width: 100%;
  padding: 10px 5px;
  background-color: var(--branco);
  border: none;
  border-radius: 10px;
  color: var(--cinza-claro);
  font-size: 1rem;
  font-weight: 600;
}

/* Labels */
#TelaPublicacao .title {
  color: var(--cinza-escuro);
  font-size: 1.2rem;
  font-weight: 700;
}

#TelaPublicacao .novo-post-form {
  gap: 20px;
}

/* Botão fechar */
#TelaPublicacao .fechar-modal {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 50px;
  padding: 0.75em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  border-radius: 1em;
}

#TelaPublicacao .fechar-modal:hover {
  background-color: transparent;
  cursor: pointer;
}

/* Botão salvar */
#BotaoPost {
  margin-top: 1em;
  padding: 1% 8%;
  background-color: var(--verde);
  border: none;
  border-radius: 30px;
  color: var(--branco);
  font-size: 1.2rem;
  transition: 0.2s;
}

#BotaoPost:hover {
  background-color: var(--botao-hover);
}

/* Responsivo */
@media (max-width: 768px) {
  #TelaPublicacao .mainPopup {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  #TelaPublicacao .imgLabel {
    max-width: 60%;
    height: 40%;
    aspect-ratio: unset;
  }

  #TelaPublicacao .inputs {
    padding: 8px;
    font-size: 0.9rem;
  }

  #BotaoPost {
    width: 100%;
    padding: 3%;
    font-size: 1rem;
  }
}