dialog#TelaPublicacao {
  animation: popupShow 0.25s ease-out;
  background: var(--fundo);
  border: none;
  border-radius: 35px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  padding: 20px 40px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 50em;
  padding: 2% 3%;
}

dialog#TelaPublicacao::backdrop {
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.55);
}


/* Container do popup (centraliza na tela) */
/* #TelaPublicacao .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  z-index: 9999;
}

/* Conteúdo principal */
/* #TelaPublicacao .popup-content {
  position: relative;
  width: 80%;
  max-width: 900px;
  height: auto;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  background: var(--fundo);
  border-radius: 1em;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: all 0.3s ease;
} * */

/* Layout interno */
#TelaPublicacao .mainPopup {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 5%;
  height: 100%;
}

/* Área da imagem */
#TelaPublicacao .imgLabel {
  align-items: center;
  aspect-ratio: 4/5;
  background-color: var(--branco);
  border: 3px dashed var(--verde-escuro);
  border-radius: 1em;
  color: gray;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: 0.3s;
  width: 50%;
  align-self: center;
}

#TelaPublicacao .imgLabel:hover {
  background-color: #bbb;
  color: #777;
}

#TelaPublicacao .iconUpload {
  width: 50%;
  height: auto;
}

#imgInput {
  display: none;
}

/* Inputs */
#TelaPublicacao .inputs {
  width: 100%;
  padding: 10px 5px;
  background-color: var(--branco);
  border: none;
  border-radius: 10px;
  color: var(--cinza-claro);
  font-size: 1rem;
  font-weight: 600;
}

/* Labels */
#TelaPublicacao .title {
  color: var(--cinza-escuro);
  font-size: 1.2rem;
  font-weight: 700;
}

#TelaPublicacao .sectioInputs {
  padding: 3%;
}

#TelaPublicacao .novo-post-form {
  gap: 20px;
}

/* Botão fechar */
#TelaPublicacao .fechar-modal {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 50px;
  padding: 0.75em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  border-radius: 1em;
}

#TelaPublicacao .fechar-modal:hover {
  background-color: transparent;
  cursor: pointer;
}

/* Botão salvar */
#BotaoPost {
  background-color: var(--verde);
  border: none;
  border-radius: 30px;
  color: var(--branco);
  font-size: 1.2rem;
  margin-top: 1.1em;
  padding: 3% 10%;
  transition: 0.2s;
  width: 250px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

#BotaoPost:hover {
  background-color: var(--botao-hover);
}

/* Responsivo */
@media (max-width: 768px) {
  #TelaPublicacao .mainPopup {
      align-items: center;
    flex-direction: column;
    gap: 4px;
  }

  #TelaPublicacao .imgLabel {
      aspect-ratio: unset;
    height: 30%;
    max-width: 40%;
    margin: 8px;
  }

  #TelaPublicacao .inputs {
   font-size: 1.5rem;
    padding: 4px;
  }

  #BotaoPost {
    font-size: 1rem;
    padding: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}