/* Botão */
#BotaoPublicar {
  cursor: pointer;
  font-size: 1em;
  padding: 0.75em 1.5em;
}

/* Popup PUBLICAÇÃO */
#TelaPublicacao.popup {
  align-items: center;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* CONTEÚDO */
#TelaPublicacao .popup-content {
  background: var(--verde-claro);
  border-radius: 1em;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  overflow: hidden;
  padding: 2% 3%;
  position: relative;
  transition: all 0.3s ease;
  width: 80%;
}

/* LAYOUT PRINCIPAL */
#TelaPublicacao .mainPopup {
  align-items: end;
  display: flex;
  gap: 5%;
  height: 100%;
  justify-content: space-between;
}

/* Área esquerda — imagem */
#TelaPublicacao .left {
  display: flex;
  flex: 1;
  justify-content: center;
}

#TelaPublicacao .imgLabel {
  align-items: center;
  aspect-ratio: 4/5;
  background-color: var(--branco);
  border: 3px dashed var(--verde-escuro);
  border-radius: 1em;
  color: gray;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: color 0.3s, background-color 0.3s;
  width: 50%;
}

#TelaPublicacao .imgLabel:hover {
  background-color: #bbb;
  color: #777;
}

#TelaPublicacao .iconUpload {
  height: auto;
  width: 50%;
}

#imgInput {
  display: none;
}

/* Inputs */
#TelaPublicacao .fechar-modal {
  align-items: center;
  background: transparent;
  border-radius: 1em;
  display: flex;
  justify-content: flex-end;
  padding: 0.75em;
  position: absolute;
  right: 1em;
  top: 1em;
}

#TelaPublicacao .fechar-modal:hover {
  background-color: transparent !important;
  cursor: pointer;
}

#TelaPublicacao .sectioInputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

#TelaPublicacao .inputs,
#TelaPublicacao .inputs::placeholder {
  background-color: var(--branco);
  border: none;
  border-radius: 10px;
  color: var(--cinza-claro);
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 5px;
  width: 100%;
}

#TelaPublicacao #groupInput {
  display: flex;
  gap: 1%;
  width: 100%;
}

#TelaPublicacao #groupCep {
  width: 50%;
}

#TelaPublicacao #groupBairro {
  width: 100%;
}

#TelaPublicacao .botao-publicar {
  margin: 20px;
}

#TelaPublicacao button {
  border-radius: 30px;
  color: var(--branco);
  font-size: 1.2rem;
  max-width: 40%;
  padding: 1% 8%;
  text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  #TelaPublicacao .mainPopup {
    align-items: center;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
  }

  #TelaPublicacao .left {
    width: 80%;
  }

  #TelaPublicacao .imgLabel {
    align-self: center;
    aspect-ratio: unset;
    height: 50%;
    margin-top: 2em;
    max-width: 50%;
  }

  #TelaPublicacao .sectioInputs {
    width: 100%;
  }

  #TelaPublicacao .inputs {
    font-size: 0.75rem;
    padding: 5px;
  }

  #TelaPublicacao button {
    font-size: 1rem;
    max-width: 100%;
    padding: 1% 4%;
  }
}
